
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600&family=Poppins&family=Roboto:ital,wght@0,900;1,300&display=swap');

html {
    min-height: 100%;
    background: #8CC461;
    font-family: 'Roboto';
    font-style: normal;
    color: #FFFFFF;
}
#heading{
    position: absolute;
    width: 900px;
    height: 168px;
    left: 420px;
    top: 62px;
    border: 3px solid #FFFFFF;
    border-radius: 13px;
}
#rock_heading{
    position: absolute;
    width: 135px;
    height: 37px;
    left: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    top: 20px;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}
#paper_heading{
    position: absolute;
    width: 150px;
    height: 37px;
    top: 60px;
    left: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}
#scissors_heading{
    position: absolute;
    width: 235px;
    height: 37px;
    left: 20px;
    top: 100px;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.1em;
    color: #FFFFFF
}
#computer_score{
    position: absolute;
    width: 139px;
    height: 128px;
    left: 550px;
    top: 20px;
    background: #FFFFFF;
    border-radius: 9px;
}
#computer{
    position: absolute;
    left: 20px;
    top: 10px;
    font-family:'Roboto';
    font-style: normal;
    font-size: 17px;
    letter-spacing: 0.1em;
    color: #656565;
}
#comp_score{
    position: absolute;
    left: 35px;
    top: 30px;
    font-size: 17px;
    letter-spacing: 0.1em;
    color: #656565;
}
#computer_count{
    position: absolute;
    left: 50px;
    top: 45px;
    font-weight: 700;
    font-size: 17px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #252525;
    font-size: 68px;
}

#your_score{ 
    position: absolute;
    width: 139px;
    height: 128px;
    left: 720px;
    top: 20px;
    background: #FFFFFF;
    border-radius: 9px;
}
#your{
    position: absolute;
    left: 40px;
    top: 10px;
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 0.1em;
    color: #656565;
}
#you_score{
    position: absolute;
    left: 35px;
    top: 30px;
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 0.1em;
    color: #656565;
}
#your_count{
    position: absolute;
    left: 45px;
    top: 45px;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 0.1em;
    color: #252525;
    font-size: 68px;
}
.circles{
    width: 500px;
    height: 500px;
    top:180px;
    left: 200px;
    position: absolute;
}
#outer1_circle{    
    position: absolute;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    top: 150px;
    background-color: #FFFFFF;
    border: 16px solid #0074B6;
    filter: drop-shadow(-1px 1px 11px rgba(0, 0, 0, 0.35));
    cursor: pointer;
}
#line1{
    position: absolute;
    width: 133px;
    height: 0px;
    left: 138px;
    top: 203px;
    border: 15px solid rgba(0, 0, 0, 0.64);
}
#line2{
    position: absolute;
    width: 107.91px;
    height: 0px;
    left: 230px;
    top: 315px;
    border: 15px solid rgba(0, 0, 0, 0.64);
    transform: rotate(120deg);
}
#line3{
    position: absolute;
    width: 107.91px;
    height: 0px;
    left: 75px;
    top: 315px;
    border: 15px solid rgba(0, 0, 0, 0.64);
    transform: rotate(60.58deg);
}
#outer2_circle{    
    position: absolute;
    width: 110px;
    height: 110px;
    left: 300px;
    top: 150px;
    background-color: #FFFFFF;
    border-radius: 50%;
    border: 16px solid #BD00FF;
    filter: drop-shadow(-1px 1px 11px rgba(0, 0, 0, 0.35)); 
    cursor: pointer;
}
#outer3_circle{    
    position: absolute;
    width: 110px;
    height: 110px;
    left: 150px;
    top: 370px;
    border-radius: 50%;
    border: 16px solid #FFA943;
    background-color: #FFFFFF;
    filter: drop-shadow(-1px 1px 11px rgba(0, 0, 0, 0.35));
    cursor: pointer;
}
#rock_img{
    position: absolute;
    top: 20px;
    left: 15px;
   
}
#scissors_img{
    align-items: center;
    position: absolute;
    top: 23px;
    left: 35px;
}
#paper_img{
    align-items: center;
    position: absolute;
    top: 20px;
    left: 20px;
}
#rules{
    position: absolute;
    width: 100px;
    left: 1500px;
    bottom: 50px;
    font-weight: 600;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    background-color: #8CC461;
    border: 3px solid #FFFFFF;
    border-radius: 10px;
    cursor: pointer;
}
#rules_msg{
    box-sizing: border-box;
    position: absolute;
    width: 280px;
    height: 370px;
    left: 1300px;
    background: #004429;
    border: 7px solid #FFFFFF;
    border-radius: 13px;
    bottom: 120px;
    color: #FFFFFF;
}
#game_rules{
    position: absolute;
    width: 156px;
    height: 27px;
    left: 61px;
    top: 25px;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    color: #FFFFFF;
}
ul{
    list-style-type: square;
    margin-top: 70px;
    font-style: normal;
}  
li{
    color:#FFA943;
}
li span{
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 100;
}
.close-btn {
    border: 5px solid white;
    position: absolute;
    padding: 7px 11px;
    top: 305px;
    background-color: red;
    left: 1550px;
    border-radius: 40px;
}
.close-btn a {
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}
.you_win, .you_loose, .match_tie{
    width: 400px;
    height: 400px;
    top: 200px;
    left: 550px;
    position: absolute;
}
#winning, #loosing, #tie {
    position: absolute;
    width: 300px;
    height: 36px;
    top: 200px;
    left: 100px;
    font-weight: 800;
    font-size: 39px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}
.against_pc{
    position: absolute;
    width: 200px;
    height: 31px;
    left: 50px;
    top: 50px;
    font-weight: 800;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}
.again_play{
    position: absolute;
    width: 174px;
    height: 44px;
    left: 60px;
    top: 100px;
    background: #FFFFFF;
    border-radius: 9px;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.1em;
    border: 0em;
    cursor: pointer;
}
#rules_modify{
    position: absolute;
    width: 100px;
    left: 1350px;
    bottom: 50px;
    font-weight: 600;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    background-color: #8CC461;
    border: 3px solid #FFFFFF;
    border-radius: 10px;
}
#pick{
    width: 400px;
    height: 300px;
    position: absolute;
}
#you_picked{
    width: 200px;
    height: 300px;
    position: absolute;
    top: 42%;
    left: 25%;
    text-align: center;
}
#user_pick{
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}
#pc_picked{
    width: 200px;
    height: 300px;
    position: absolute;
    top: 42%;
    left: 58%;
    text-align: center;
}
#pc_pick{
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}  
.custom1_border{  
    position: absolute;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: #FFFFFF;
    border: 16px solid #0074B6;
    filter: drop-shadow(-1px 1px 11px rgba(0, 0, 0, 0.35)); 
    cursor: pointer;  
}
.win-ripple{
    position: absolute;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    box-shadow: 0 0 25px 24px rgb(31, 132, 2),0 0 12px 56px rgb(42, 158, 0);
}

#nxt-btn{
        position: absolute;
        width: 100px;
        left: 1350px;
        bottom: 50px;
        font-weight: 600;
        font-size: 21px;
        line-height: 25px;
        letter-spacing: 0.1em;
        color: #FFFFFF;
        background-color: #8CC461;
        border: 3px solid #FFFFFF;
        border-radius: 10px;
        cursor: pointer; 
}
#wincup{
    position: absolute;
    left: 43%;
    top: 30%;
    bottom: 47.15%
}
#star1{
    position: absolute;
    width: 115px;
    height: 115px;
    left: 33%;
    top: 34%;
}
#star2{
    position: absolute;
    width: 103px;
    height: 103px;
    left: 52%;
    top: 16%;
}
#star3{
    position: absolute;
    width: 32px;
    height: 32px;
    left: 39%;
    top: 12.5%;
}
#star5{
    position: absolute;
    width: 32px;
    height: 32px;
    left: 40%;
    top: 50%;
}
#star6{
    position: absolute;
    width: 130px;
    height: 130px;
    left: 55%;
    top: 40%;
}
#star7{
    position: absolute;
    width: 32px;
    height: 32px;
    left: 60%;
    top: 33%;
}
#star8{
    position: absolute;
    width: 32px;
    height: 32px;
    left: 46%;
    top: 18%;
}
#star9{
    position: absolute;
    width: 68px;
    height: 68px;
    left: 36%;
    top: 20%;
}
#hurray{
    position: absolute;
    left: 35%;
    top: 57%;
    font-size: 91px;
    line-height: 107px;
    letter-spacing: 0.1em;
}
#you_won{
    position: absolute;
    width: 500px;
    height: 48px;
    left: 35%;
    top: 70%;
    font-weight: 600;
    font-size: 41px;
    line-height: 48px;
    letter-spacing: 0.1em;
}
#nxt-play{
    position: absolute;
    left: 44%;
    top:80%;
}
